{% extends 'Agent/Base/base.html' %}
{% load static %}
{% block main-content %}

<div class="container-fluid">

	<!-- Title -->
	<div class="row heading-bg">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			{% comment %} <h5 class="txt-dark">Enrolled Application</h5> {% endcomment %}
		</div>
		<!-- Breadcrumb -->
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="{% url "agent_dashboard" %}">Dashboard</a></li>
				{% comment %} <li><a href="#"><span>table</span></a></li> {% endcomment %}
				<li class="active"><span>Enrolled Application</span></li>
			</ol>
		</div>
		<!-- /Breadcrumb -->
		
	</div>
	{% include 'dashboard/messages.html' %}

    <div class="ml-auto" style="float:left;margin-bottom:20px;">
        <a href="{% url "agent_leads" %}"><button class="btn bg-light" style="color:black;">All Leads</button></a>
        <button class="btn btn-primary"  disabled>Enrolled Application</button>
      </div>

    {% comment %} <div class="form-body">

        <div class="row">
            <div class="form-group col-md-3">
                <div class="form-group">


                    <input type="text" class="form-control datepicker" placeholder="From Date" />
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control datepicker" placeholder="To Date" />
                </div>
            </div>
            <div class="form-group col-md-3">

                <div class="form-group">
                    <input type="text" name="email" id="email" class="form-control border-left-0"
                        placeholder="Email Id">
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="form-group">
                    <input type="text" name="contact" id="contact" class="form-control border-left-0"
                        placeholder="Mobile Number">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <div class="form-group">
                    <select class="form-control" name="country" id="country">
                        <option value="Visa Country">Visa Country</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group col-md-3">
                <div class="form-group">
                    <select class="form-control" name="cateegory" id="cateegory">
                        <option value="Visa Cateegory">Visa Cateegory</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="form-group">
                    <select class="form-control" name="subcategory" id="subcategory">
                        <option value="Visa SubCategory">Visa SubCategory</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="form-group">
                    <input type="text" name="assign to employee" id="assign to employee"
                        class="form-control border-left-0" placeholder="Assign to Employee">
                </div>
            </div>

        </div>
        <div class="row">
            
            <div class="form-group col-md-3">
                <div class="form-group">
                    <input type="text" name="assign to agent" id="assign to agent"
                        class="form-control border-left-0" placeholder="Assign to Agent ">
                </div>
            </div>
            
            <div class="form-group col-md-3">
                <div class="form-group">
                    <input type="text" name="lead generated by" id="lead generated by"
                        class="form-control border-left-0" placeholder="Lead Generated By">
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="form-group">
                    <select class="form-control" name="visatype" id="visatype">
                        <option value="Visa Type">Visa Type</option>
                        <option value="Single">Single</option>
                        <option value="Couple">Couple</option>
                        <option value="Family">Family</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-3">

                <div class="form-group">
                    <select class="form-control" name="casetype" id="casetype">
                        <option value="Case Type">Case Type</option>
                        <option value="Enquiry">Enquiry</option>
                        <option value="Enrolled Application">Enrolled Application</option>
                        <option value="Case">Case</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">                    
        <div class="form-group col-md-3">
            <button type="search" class="btn btn-primary px-5">Proceed</button>
        </div>
        </div>
    </div> {% endcomment %}

	<!-- Row -->
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default card-view">
                <h5 class="txt-dark">Enrolled Application</h5>
				<div class="panel-wrapper collapse in">
					<div class="panel-body">
						<div class="table-wrap">
							<div class="table-responsive">
								<table id="example" class="table table-hover display  pb-30">
									<thead>
										<tr>
											<th>S.No.</th>
                                    <th>Action</th>
                                    <th>Application No</th>
                                    <th>Name</th>
                                    <th>Registered On</th>
                                    <th>Last Updated On</th>
                                    <th>Package Name</th>
                                    <th>Visa Country</th>
                                    <th>Visa Category</th>
                                    <th>Sub Category</th>
                                    <th>Notes</th>
                                    <th>Visa Type</th>
                                    <th>Created By</th>
                                    <th>Enquiry Status</th>
                                    <th>Passport</th>
                                    <th>Documents</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>S.No.</th>
                                    <th>Action</th>
                                    <th>Application No</th>
                                    <th>Name</th>
                                    <th>Registered On</th>
                                    <th>Last Updated On</th>
                                    <th>Package Name</th>
                                    <th>Visa Country</th>
                                    <th>Visa Category</th>
                                    <th>Sub Category</th>
                                    <th>Notes</th>
                                    <th>Visa Type</th>
                                    <th>Created By</th>
                                    <th>Enquiry Status</th>
                                    <th>Passport</th>
                                    <th>Documents</th>
										</tr>
									</tfoot>
									<tbody>
                                        {% for i in enquiry %}
                                        <tr>
                                            <td>1</td>
                                            <td>
                                            <div class="row">
                                                <div class="col-md-6"><a href="{% url "Agent_edit_enrolled_application" i.id %}"><i class='zmdi zmdi-edit' style="font-size: 20px; color:blue;"></i></a></div>
                                                <div class="col-md-6"><a href="{% url "Agent_viewenrolledapplication" i.id %}"><i class='zmdi zmdi-eye' style="font-size: 20px; color:blue;"></i></a></div>
                                            </div>
                                            </td>
                                            <td>{{i.enquiry_number}}</td>
                                            <td>
                                                {{i.FirstName}} {{i.LastName}}
                                                <br>
                                                <a><i class='zmdi zmdi-phone' style="font-size: 15px; color:blue;"></i></a>{{i.contact}}
                                                <br>
                                                <a><i class='zmdi zmdi-email-open' style="font-size: 15px; color:blue;"></i></a>{{i.email}}
                                                
                                            </td>
                                            <td>{{i.registered_on}}</td>
                                            <td>{{i.last_updated_on}}</td>
                                            <td>{{i.Package.title}}</td>
                                            <td>{{i.Visa_country.country}}</td>
                                            <td>{{i.Visa_category.category}}</td>
                                            <td>{{i.Visa_subcategory.subcategory_name}}</td>
                                            
                                            {% comment %} <td>System Architect</td> {% endcomment %}
                                            <td> 
                                                {% comment %} {{notes}} {% endcomment %}
                                                {% comment %} {% if i.id == notes_first.enquiry %}
                                                hellooooo
                                                {% endif %} {% endcomment %}
                                                {% if i.notes_set.exists %}
                                        
                                        
                                                {{ i.notes_set.last.notes }}
                                                
                                            {% else %}
                                                No Notes
                                            {% endif %}
                                            <button type="button" class="btn btn-light d-flex align-items-center" data-toggle="modal" data-target="#updatenotes{{i.id}}" style="border:none; background-color:transparent;">
                                       
                                       
                                    
                                                <div>
                                                    <i class='bx bx-edit text-warning' style="font-size: 20px;"></i>
                                                </div>
                                                <div class="ml-2 text-warning" >
                                                    Add Note
                                                    
                                                </div>
                                            </button>
                                    
                                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#viewallnotes{{i.id}}" style="border:none; background-color:transparent; white-space: nowrap; width: 150px;">
                                                <i class='lni lni-eye text-warning' style="font-size: 20px;"></i>
                                                <span class="ml-2 text-warning">View All Notes</span>
                                            </button> 
        
                                            {% include "Agent/EnrolledApplication/add_notes_modal.html" %}
                                            {% include "Agent/EnrolledApplication/view_notes_modal.html" %}
                                    
                                            </td>
                                            
                                            <td>
                                                {{i.Visa_type}}
                                            </td>
                                            
                                            <td>{{i.created_by}}</td>
                                            <td>
                                               

                                                {% if i.lead_status == "Enrolled" %}
                                                <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-secondary">Enrolled</span>
                                                {% elif i.lead_status == "Inprocess" %}
                                                <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-info">Inprocess</span>
                                                {% elif i.lead_status == "Ready To Submit" %}
                                                <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-dark">Ready To Submit</span>
                                                {% elif i.lead_status == "Appointment" %}
                                                <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-light">Appointment</span>
                                                {% elif i.lead_status == "Ready To Collection" %}
                                                <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-info ">Ready To Collection</span>
                                                {% elif i.lead_status == "Result" %}
                                                <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-info ">Result</span>
                                                {% elif i.lead_status == "Delivery" %}
                                                <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-success ">Delivery</span>
                                                {% comment %} <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-primary">PreEnrolled</span> {% endcomment %}
                                                {% elif i.lead_status == "Archive" %}
                                                <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-danger">Case Initiated</span>
                                                {% elif i.lead_status == "Case Initiated" %}
                                                <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-danger">Case Initiated</span>
                  
                                                
                                                
                                                {% endif %}
                  
                                            </td>
                                            <td>{{i.passport_no}}</td>
                                            <td><div class="text-center mt-3">
                                                <a href="{% url "Agent_view_enqlist" i.id %}">View All Documents</a>
                                            </div></td>
                                            </tr>
                                            {% endfor %}
                                    </tbody>
                                    <div class="modal fade" id="updatenotes{{i.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog ">
                                            <form action="" method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h5 class="modal-title" id="updatenotesLabel1">Add Notes</h5>
                                                </div>
                                                <div class="modal-body">
                                                    {% comment %} <span class="sub-text d-flex">Date :
                                                        <div class="ml-1" id="currentDateTime"></div>
                                                    </span> {% endcomment %}
                                                    
                                                        <div class="col-12 col-md-8">
                                                            <div class="form-group control-label mb-10">
                                                                <div class="form-control-wrap">
                                                                    <span class="sub-text d-flex">Date :
                                                                        <div class="ml-1" id="currentDateTime"></div>
                                                                    </span>
                                                                    <span class="sub-text d-flex">Note added by : Admin
                                                                        
                                                                    </span>
                                                                </div>
                                                            </div>
                                
                                                        </div>
                                                        
                                                    <div class="row mt-4">
                                                        <div class="col-12">
                                                            <div class="form-group control-label mb-10">
                                                                <div class="form-control-wrap">
                                                                    <textarea name="notes" rows="4" cols="20" id="ContentPlaceHolder1_txtNotes" class="form-control" placeholder="Add Notes" onkeypress="checkMaxLength(this, 120);" onpaste="handlePaste(this, 120)" oninput="updateCharacterCount(this,120);" maxlength="120"></textarea>
                                                                    <span id="ContentPlaceHolder1_rfnotes" style="color:Red;display:none;">Enter Notes</span>
                                                                    <p id="characterCount">Character Limit: 120</p>
                                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$hfEId" id="ContentPlaceHolder1_hfEId">
                                                                    
                                                                    <div class="custom-file-link text-left mt-3 mb-3">
                                                                        <label class="uploadFile">
                                                                            <em class="icon ni ni-clip mr-1 text-primary"></em>
                                                                            <span class="filename">Attach File</span>
                                                                            
                                                                            <input type="file" name="file" id="ContentPlaceHolder1_fuNotesFile" class="inputfile form-control" onchange="displayFileName(this)">
                                                                        </label>
                                                                    </div>
                                                                    <input type="text" value="{{i.id}}" name="enq_id" hidden>
                                                                
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="updateagent{{i.id}}"
                                                tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog ">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h5 class="modal-title" id="updateagentLabel1">Assign To Agent</h5>
                                                        </div>
                                                        <div class="modal-body">
        
                                                            <p>Dated: <span>11-1-23</span></p>
                                                            <p>Added by : <span>Admin</span></p>
                                                            <center>
                                                                
                                                                <input type="text" value="" name="agent_id" hidden>
                                                                <label for="status">Assign To Agent</label>
                                                                <select class="form-control" name="status" id="status" class="form-control">
        
                                                                    <option value="--">--</option>
                                                                </select>
        
                                                            </center>
        
        
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Save</button>
                                                            </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                    
                                    <div id="documents-container"></div>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Row -->
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Handle click on "View All Documents" link
        $('#view-all-documents-link').click(function(e) {
            e.preventDefault();
    
            // Load only the documents-form portion of the other HTML file and insert it into the documents-container
            $('#documents-container').load('Admin/ApplicationManagement/EnrolledApplication/editenrolledapplication.html #documents-form', function() {
                // Content has been loaded, you can also add additional logic if needed
            });
        });
    });
    </script>
<!--end page-wrapper-->
{% endblock main-content %}