{% extends 'Employee/Base/base.html' %}
{% load static %}
{% block main-content %}

<div class="container-fluid">

	<!-- Title -->
	<div class="row heading-bg">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			{% comment %} <h5 class="txt-dark">ContactUs/Appointment</h5> {% endcomment %}
		</div>
		<!-- Breadcrumb -->
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="{% url "employee_dashboard" %}">Dashboard</a></li>
				{% comment %} <li><a href="#"><span>table</span></a></li> {% endcomment %}
				<li class="active"><span>FrontWebsite Enquiry</span></li>
			</ol>
		</div>
		<!-- /Breadcrumb -->
		
	</div>
	{% include 'Employee/Base/messages.html' %}
     
   <div class="ml-auto" style="float:left;margin-bottom:20px;">
    <a href="{% url "employee_leads" %}"><button class="btn bg-light" style="color:black;">Visa Enquiry</button></a>
    <button class="btn btn-primary" disabled>FrontWebsite Enquiry</button>
    <a href="{% url "agentall_leads" %}"><button class="btn bg-light" style="color:black;">Agent Leads</button></a>
   
</div>

    
	<div class="ml-auto" style="float:right;margin-bottom:20px;">
		<a href="{% url 'Employee_add_FrontWebsiteEnquiry' %}"><button class="btn btn-primary">Add New</button></a>
	</div>
	<!-- /Title -->

	<!-- Row -->
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default card-view">
                <h5 class="txt-dark">ContactUs/Appointment</h5>
				<div class="panel-wrapper collapse in">
					<div class="panel-body">
						<div class="table-wrap">
							<div class="table-responsive">
								<table id="example" class="table table-hover display  pb-30">
									<thead>
										<tr>
											<th>S.No.</th>
                            <th>Action</th>
                            <th>Personal Info</th>
                            <th>Service Intrested</th>
                            <th>Intrested Country</th>
                            <th>Created Date</th>
                            <th>Appointment Date</th>
                            <th>Type</th>
                            <th>Enquiry</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>S.No.</th>
                            <th>Action</th>
                            <th>Personal Info</th>
                            <th>Service Intrested</th>
                            <th>Intrested Country</th>
                            <th>Created Date</th>
                            <th>Appointment Date</th>
                            <th>Type</th>
                            <th>Enquiry</th>
										</tr>
									</tfoot>
									<tbody>
										{% for i in FrontWebsiteEnquiry %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a href="{% url "Employee_view_frontenqlist" i.id %}"><i class='zmdi zmdi-eye' style="font-size: 20px; color:blue;"></i></a></td>
                            <td>{{i.name}} <br>
                                <a><i class='zmdi zmdi-email-open' style="font-size: 15px; color:blue;"></i></a>  {{i.email}} <br>
                                <a><i class='zmdi zmdi-phone' style="font-size: 15px; color:blue;"></i></a> {{i.phone}}</td>
                            <td>{{i.category_name}}</td>
                            <td>{{i.country_name}}</td>
                            <td>{{i.last_updated_on}}</td>
                            <td>{{i.appointment_date}}</td>
                            <td>{{i.type}}</td>
                            <td>{{i.message}}</td>

                        </tr>
                        {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Row -->
</div>

{% endblock main-content %}