{% extends 'dashboard/base.html' %}
{% load static %}
{% block main-content %}

<div class="container-fluid">
					
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Followup Status</h5>
        </div>
    
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url "travel_dashboards" %}">Dashboard</a></li>
                <li><a href="{% url "followupstatus" %}"><span>All Followup Status</span></a></li>
                <li class="active"><span>Add Followup Status</span></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->
    
    </div>
    {% include 'dashboard/messages.html' %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Add Followup Status</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-wrap">
                                    <form action="" method ="POST">
                                        {% csrf_token %}
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>General Information</h6>
                                            <hr class="light-grey-hr"/>
                                            <div class="row">
                                                
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Followup Status</label>
                                                        {{form.followup_status}}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Status</label>
                                                        <div class="radio-list">
                                                            <div class="radio-inline pl-0">
                                                                <span class="radio radio-info">
                                                                    <input class="form-check-input" type="radio" name="{{ form.status.name }}" id="{{ form.status.id_for_label_active }}" value="True">
                                                        <label class="form-check-label" for="inlineRadio1">Active</label>
                                                            </span>
                                                            </div>
                                                            <div class="radio-inline">
                                                                <span class="radio radio-info">
                                                                    <input class="form-check-input" type="radio" name="{{ form.status.name }}" id="{{ form.status.id_for_label_inactive }}" value="False">
                                                                    <label class="form-check-label" for="inlineRadio2">InActive</label>
                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="form-actions mt-10">
                                            <button type="submit" class="btn btn-success  mr-10"> Save</button>
                                            <button type="button" class="btn btn-default">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>		
        </div>
    </div>

</div>


{% endblock main-content %}