{% extends 'SuperadminDashboard/base.html' %}
{% load static %}
{% block main-content %}


<div class="container-fluid">

	<!-- Title -->
	<div class="row heading-bg">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h5 class="txt-dark">Admin</h5>
		</div>
		<!-- Breadcrumb -->
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="{% url "travel_dashboards" %}">Dashboard</a></li>
				{% comment %} <li><a href="#"><span>table</span></a></li> {% endcomment %}
				<li class="active"><span>Admin</span></li>
			</ol>
		</div>
		<!-- /Breadcrumb -->
		
	</div>
	{% include 'SuperadminDashboard/messages.html' %}

	<div class="form-body">

		<div class="row">
			<div class="form-group col-md-3">
				<div class="form-group">
					<input type="text" class="form-control datepicker" placeholder="From Date" />
				</div>
			</div>
			<div class="form-group col-md-3">
				<div class="form-group">
					<input type="text" class="form-control datepicker" placeholder="To Date" />
				</div>
			</div>
			<div class="form-group col-md-3">

				<div class="form-group">

					<input type="text" name="email" id="email" class="form-control border-left-0"
						placeholder="Email">
				</div>
			</div>
			<div class="form-group col-md-3">

				<div class="form-group">

					<input type="text" name="contact" id="contact" class="form-control border-left-0"
						placeholder="Mobile Number">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-3">

				<div class="form-group">

					<input type="text" name="name" id="name" class="form-control border-left-0"
						placeholder="Name">
				</div>
			</div>
			<div class="form-group col-md-3">

				<button type="search" class="btn btn-primary px-5">Proceed</button>
			</div>
		</div>
	</div>

	<!-- Row -->
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default card-view">
				<div class="panel-wrapper collapse in">
					<div class="panel-body">
						<div class="table-wrap">
							<div class="table-responsive">
								<table id="example" class="table table-hover display  pb-30">
									<thead>
										<tr>
											<th>S.No.</th>
							<th>Action</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Contact</th>
							<th>Department</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>S.No.</th>
							<th>Action</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Contact</th>
							<th>Department</th>
										</tr>
									</tfoot>
									<tbody>
										{% for admins in admin %}
						<tr>
							<td>{{forloop.counter}}</td>
                            <td><div class="row">
                                <div class="col-md-4"><a href="http://">
                                    <i class='zmdi zmdi-eye' style="font-size: 20px; color:blue;"></i>
                                </a></div>
                                <div class="col-md-4"><a href="http://"><i class='zmdi zmdi-edit' style="font-size: 20px; color:blue;"></i></a></div>
                                <div class="col-md-4"><a href="http://"><i class='zmdi zmdi-comments' style="font-size: 20px; color:blue;"></i></a></div>  
                            </div>
							<td>{{admins.users.first_name}}</td>
							<td>{{admins.users.last_name}}</td>
							<td>{{admins.users.email}}</td>
							<td>{{admins.contact_no}}</td>
							<td>{{admins.department}}</td>
							
						</tr>
						{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Row -->
</div>

{% endblock main-content %}