{% extends 'dashboard/base.html' %}
{% load static %}
{% block main-content %}

<div class="container-fluid">
					
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Menu</h5>
        </div>
    
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url "travel_dashboards" %}">Dashboard</a></li>
                <li><a href="{% url "Menu_list" %}"><span>Menu List</span></a></li>
                <li class="active"><span>Add Menu</span></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->
    
    </div>
    {% include 'dashboard/messages.html' %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Add Menu</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-wrap">
                                    <form action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>Personal Details</h6>
                                            <hr class="light-grey-hr"/>
                                            <div class="row">
                                                
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Select Menu</label>
                                                        {{form.name}}
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            
                                           
                                           

                                        </div>
                                            
                                        
                                        <div class="form-actions mt-10">
                                            <button type="submit" class="btn btn-success  mr-10"> Save</button>
                                            <button type="button" class="btn btn-default">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>		
        </div>
    </div>

</div>
{% comment %} 
<div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
                <div class="breadcrumb-title pr-3">Add Enquiry</div>
                <div class="pl-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="{% url "travel_dashboards" %}"><i class='bx bx-home-alt'  style="color:#21325D;"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Add Enquiry</li>
                        </ol>
                    </nav>
                </div>
                
            </div>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="card border-lg-top-white">
                        <div class="card-body p-5">
                            <div class="card-title d-flex align-items-center">
                                <div><i class='bx bxs-user mr-1 font-24 text-white'></i>
                                </div>
                                <h4 class="mb-0 text-white">Personal Details</h4>
                            </div>
                            <hr />
                            <form action="" method="POST">
                                {% csrf_token %}
                            <div class="form-body">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>{{form.email.label_tag}}</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"> <span class="input-group-text"><i
                                                        class='bx bx-envelope'></i></span>
                                            </div>
                                            {{form.email}}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>{{form.contact.label_tag}}</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"> <span class="input-group-text"><i
                                                        class='bx bx-phone'></i></span>
                                            </div>
                                            {{form.contact}}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>{{form.FirstName.label_tag}}</label>
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                {{form.Salutation}}
                                            </div>
                                            <div class="form-group col-md-9">
                                                
                                                <div class="input-group">
                                                    <div class="input-group-prepend"> <span class="input-group-text"><i
                                                                class='bx bx-user'></i></span>
                                                    </div>
                                                    {{form.FirstName}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>{{form.LastName.label_tag}}</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"> <span class="input-group-text"><i
                                                        class='bx bx-user'></i></span>
                                            </div>
                                            {{form.LastName}}
                                        </div>
                                    </div><div class="form-group col-md-4">
                                        <div class="form-group">
                                            
                                            <label>{{form.Dob.label_tag}}</label>
                                            {{form.Dob}}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>{{form.Gender.label_tag}}</label>
                                        <div class="form-group">
                                            {{form.Gender}}
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>{{form.Country.label_tag}}</label>
                                        <div class="form-group">
                                            {{form.Country}}
                                        </div>
                                    </div>
                                </div>
                                

                                <br>
                                <hr><br>
                                <h4 class="mb-0 text-white">Enquiry Management</h4>
                                <br>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>{{form.Visa_country.label_tag}}</label>
                                        <div class="form-group">
                                            {{form.Visa_country}}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>{{form.Visa_category.label_tag}}</label>
                                        <div class="form-group">
                                            {{form.Visa_category}}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4" >
                                        <label>{{form.Visa_subcategory.label_tag}}</label>
                                        <div class="form-group">
                                            {{form.Visa_subcategory}}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>{{form.Visa_type.label_tag}}</label>
                                        <div class="form-group">
                                            {{form.Visa_type}}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>{{form.Package.label_tag}}</label>
                                        <div class="form-group">
                                            {{form.Package}}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>{{form.Source.label_tag}}</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"> <span class="input-group-text"><i
                                                        class='bx bx-user'></i></span>
                                            </div>
                                            {{form.Source}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>{{form.Reference.label_tag}}</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"> <span class="input-group-text"><i
                                                    class='bx bx-user'></i></span>
                                        </div>
                                        {{form.Reference}}
                                    </div>
                                </div>
                            </div>
                                
                                <button type="submit" class="btn btn-light px-5">Save</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--end row-->
        </div>
    </div>
    <!--end page-content-wrapper-->
</div> {% endcomment %}

{% endblock main-content %}