{% extends 'Employee/Base/base.html' %}
{% load static %}
{% block main-content %}

<div class="container-fluid">

	<!-- Title -->
	<div class="row heading-bg">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h5 class="txt-dark">FAQ</h5>
		</div>
		<!-- Breadcrumb -->
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="{% url "employee_dashboard" %}">Dashboard</a></li>
				{% comment %} <li><a href="#"><span>table</span></a></li> {% endcomment %}
				<li class="active"><span>FAQ</span></li>
			</ol>
		</div>
		<!-- /Breadcrumb -->
		
	</div>
	{% include 'dashboard/messages.html' %}

	<div class="row" style="float:right;margin-bottom:10px;">
		<div class="col-md-6">
			<a href="{% url 'Employee_addfaq' %}">
				<button class="btn btn-primary">Add New</button>
			</a>
		</div>
	</div>

	<!-- Row -->
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default card-view">
				<div class="panel-wrapper collapse in">
					<div class="panel-body">
						<div class="table-wrap">
							<div class="table-responsive">
								<table id="example" class="table table-hover display  pb-30">
									<thead>
										<tr>
											<th>S.No.</th>
											<th>Question</th>
                                            <th>Answer</th>
                                            <th>Ask By</th>
							<th>Last Updated On</th>
							<th>Action</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>S.No.</th>
											<th>Question</th>
                                            <th>Answer</th>
                                            <th>Ask By</th>
							<th>Last Updated On</th>
							<th>Action</th>
										</tr>
									</tfoot>
									<tbody>
										{% for i in FAQs %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{i.question}}</td>
							<td>{{i.answer}}</td>
							<td>{{i.user}}</td>
							<td>{{i.last_updated_on}}</td>
								<td>
									<div class="col-md-4"><a href="{% url "Employee_edit_faq" i.id %}"><i
										class='zmdi zmdi-edit'
										style="font-size: 20px; color:blue;"></i></a></div>
								</div>
									<div class="col-md-4"><a href="{% url "Employee_delete_faq" i.id %}"><i
										class='zmdi zmdi-delete'
										style="font-size: 20px; color:red;"></i></a></div>
								</div>
								</td>
							</tr>
						{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Row -->
</div>

{% endblock main-content %}