{% extends 'dashboard/base.html' %}
{% load static %}
{% block main-content %}

<div class="container-fluid">

    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Appointment</h5>
        </div>

        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url "travel_dashboards" %}">Dashboard</a></li>
                <li><a href="{% url "view_appointment" %}"><span>Appointment</span></a></li>
                <li class="active"><span>Add Appointment</span></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Add Appointment</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-wrap">
                                    <form action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-body">
                                            <h6 class="txt-dark capitalize-font"><i
                                                    class="zmdi zmdi-account mr-10"></i>Add Details</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Title</label>
                                                        <input type="text" name="title" id="title"
                                                class="form-control border-left-0" placeholder="Title">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Motive</label>
                                                        <input type="text" name="motive" id="motive"
                                                class="form-control border-left-0" placeholder="Enter Motive">
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Date</label>
                                                        <input type="date" name="date" id="date"
                                                class="form-control border-left-0" placeholder="Enter Date">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Time</label>
                                                        <input type="time" name="time" id="time" class="form-control border-left-0"
                                                placeholder="Time">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Assigned to</label>
                                                        <input type="text" name="assigned_to" id="assigned_to"
                                                class="form-control border-left-0" placeholder="Assigned To" value="{{enquiry.assign_to_employee.users.first_name}} {{enquiry.assign_to_employee.users.last_name}}" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Is Paid</label>
                                                        <input class="form-check-input" type="checkbox" 
                                                    id="is_paid" name="is_paid">
                                                    </div>
                                                </div>
                                            </div>

                                            <br>
                                            <h6 class="txt-dark capitalize-font"><i
                                                    class="zmdi zmdi-account mr-10"></i>Payement</h6>
                                            <hr class="light-grey-hr" />
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Amount</label>
                                                        <input type="number" name="amount" id="amount"
                                                class="form-control border-left-0" placeholder="Amount">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Paid Amount</label>
                                                        <input type="number" name="paid_amount" id="paid_amount"
                                                class="form-control border-left-0" placeholder="Paid Amount">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10">Notes</label>
                                                        <textarea class="form-control" name="notes" id="notes"
                                            placeholder="Enter Notes" rows="5" cols="3"></textarea>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                           
                                            
                                        <div class="form-actions mt-10">
                                            <button type="submit" class="btn btn-success  mr-10"> Save</button>
                                            <button type="button" class="btn btn-default">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock main-content %}