{% extends 'Agent/Base/base.html' %}
{% load static %}
{% block main-content %}
<style>
    .table-scrollable {
        overflow-x: auto;
        max-width: 100%;
    }
</style>

<div class="container-fluid">

	<!-- Title -->
	<div class="row heading-bg">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h5 class="txt-dark">ContactUs/Appointment</h5>
		</div>
		<!-- Breadcrumb -->
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="{% url "agent_dashboard" %}">Dashboard</a></li>
				{% comment %} <li><a href="#"><span>table</span></a></li> {% endcomment %}
				<li class="active"><span>Enquiry</span></li>
			</ol>
		</div>
		<!-- /Breadcrumb -->
		
	</div>
	{% include 'dashboard/messages.html' %}

   <div class="form-body">
      <div class="row">
         <div class="form-group col-md-3">
            <div class="form-group">
               <input type="text" class="form-control datepicker" placeholder="From Date" />
            </div>
         </div>
         <div class="form-group col-md-3">
            <div class="form-group">
               <input type="text" class="form-control datepicker" placeholder="To Date" />
               {% comment %} <input type="date" class="form-control" name="todate" id="todate"
                  placeholder="To Date"> {% endcomment %}
            </div>
         </div>
         <div class="form-group col-md-3">
            <div class="form-group">
               <input type="text" name="email" id="email" class="form-control "
                  placeholder="Email Id">
            </div>
         </div>
         <div class="form-group col-md-3">
            <div class="form-group">
               <input type="text" name="contact" id="contact" class="form-control "
                  placeholder="Mobile Number">
            </div>
         </div>
      </div>
      <div class="row">
         <div class="form-group col-md-3">
            <div class="form-group">
               <select class="form-control" name="status" id="status">
                  <option value="Status">Status</option>
                  <option value="Accept">Accept</option>
                  <option value="Pending">Pending</option>
                  <option value="Reject">Reject</option>
                  <option value="Archive">Archive</option>
               </select>
            </div>
         </div>
         <div class="form-group col-md-3">
            <div class="form-group">
               <select class="form-control" name="country" id="country">
                  <option value="Visa Country">Visa Country</option>
               </select>
            </div>
         </div>
         <div class="form-group col-md-3">
            <div class="form-group">
               <select class="form-control" name="cateegory" id="cateegory">
                  <option value="Visa Cateegory">Visa Cateegory</option>
               </select>
            </div>
         </div>
         <div class="form-group col-md-3">
            <div class="form-group">
               <select class="form-control" name="subcategory" id="subcategory">
                  <option value="Visa SubCategory">Visa SubCategory</option>
               </select>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="form-group col-md-3">
            <div class="form-group">
               <input type="text" name="assign to employee" id="assign to employee"
                  class="form-control " placeholder="Assign to Employee">
            </div>
         </div>
         <div class="form-group col-md-3">
            <div class="form-group">
               <input type="text" name="assign to agent" id="assign to agent"
                  class="form-control " placeholder="Assign to Agent ">
            </div>
         </div>
         <div class="form-group col-md-3">
            <div class="form-group">
               <input type="text" name="assign to outsource" id="assign to outsource"
                  class="form-control " placeholder="Assign to Outsource">
            </div>
         </div>
         <div class="form-group col-md-3">
            <div class="form-group">
               <input type="text" name="lead generated by" id="lead generated by"
                  class="form-control " placeholder="Lead Generated By">
            </div>
         </div>
      </div>
      <div class="row">
         <div class="form-group col-md-3">
            <div class="form-group">
               <select class="form-control" name="visatype" id="visatype">
                  <option value="Visa Type">Visa Type</option>
                  <option value="Single">Single</option>
                  <option value="Couple">Couple</option>
                  <option value="Family">Family</option>
               </select>
            </div>
         </div>
         <div class="form-group col-md-3">
            <div class="form-group">
               <select class="form-control" name="casetype" id="casetype">
                  <option value="Case Type">Case Type</option>
                  <option value="Enquiry">Enquiry</option>
                  <option value="Enrolled Application">Enrolled Application</option>
                  <option value="Case">Case</option>
               </select>
            </div>
         </div>
         <div class="form-group col-md-3">
            <button type="search" class="btn btn-primary px-5">Proceed</button>
         </div>
      </div>
   </div>

	{% comment %} <div class="ml-auto" style="float:right;margin-bottom:20px;">
		<a href="{% url 'add_enquiry' %}"><button class="btn btn-primary">Add New</button></a>
	</div> {% endcomment %}
	<!-- /Title -->

	<!-- Row -->
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default card-view">
				<div class="panel-wrapper collapse in">
					<div class="panel-body">
						<div class="table-wrap">
							<div class="table-responsive">
								<table id="example" class="table table-hover display  pb-30">
									<thead>
										<tr>
											<th>Action</th>
                            <th>Enquiry No</th>
                            <th>Name</th>
                            <th>Registered On</th>
                            <th>Updated On</th>
                            <th>Visa Country</th>
                            <th>Visa Category</th>
                            <th>Sub Category</th>
                            <th>Visa Type</th>
                            <th>Package Name</th>
                            {% comment %} <th>Notes</th> {% endcomment %}
                            {% comment %} <th>Assign to Emp</th> {% endcomment %}
                            <th>Created By</th>
                            <th>Enquiry Status</th>
                            <th>Lead Status</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Action</th>
                            <th>Enquiry No</th>
                            <th>Name</th>
                            <th>Registered On</th>
                            <th>Updated On</th>
                            <th>Visa Country</th>
                            <th>Visa Category</th>
                            <th>Sub Category</th>
                            <th>Visa Type</th>
                            <th>Package Name</th>
                            {% comment %} <th>Notes</th> {% endcomment %}
                            {% comment %} <th>Assign to Emp</th> {% endcomment %}
                            <th>Created By</th>
                            <th>Enquiry Status</th>
                            <th>Lead Status</th>
										</tr>
									</tfoot>
									<tbody>
										{% for i in enq  %}
                        <tr>
                           {% comment %} <td>{{forloop.counter}}</td> {% endcomment %}
                           <td><a href="{% url "Agent_view_enqlist" i.id %}"><i class='zmdi zmdi-eye'
                              style="font-size: 20px; color:blue;"></i></a></td>
                            <td>{{i.enquiry_number}}</td>
                           
                           <td>{{i.FirstName}} {{i.LastName}}</td>
                           <td>{{i.last_updated_on}}</td>
                           <td>{{i.last_updated_on}}</td>
                           <td>{{i.Visa_country}}</td>
                           <td>{{i.Visa_category}}</td>
                           <td>{{i.Visa_subcategory}}</td>
                           <td>{{i.Visa_type}}</td>
                           <td>{{i.Package}}</td>
                           {% comment %} <td> 
                            <button type="button" class="btn btn-light d-flex align-items-center" data-toggle="modal" data-target="#updatenotes{{i.id}}" style="border:none; background-color:transparent;">
                           
                                <div>
                                    <i class='bx bx-edit text-warning' style="font-size: 20px;"></i>
                                </div>
                                <div class="ml-2 text-warning" >
                                    Add Note
                                    
                                </div>
                            </button>
                            
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#viewallnotes{{i.id}}" style="border:none; background-color:transparent; white-space: nowrap; width: 150px;">
                                <i class='bx bx-low-vision text-warning' style="font-size: 20px;"></i>
                                <span class="ml-2 text-warning">View All Notes</span>
                            </button> 

                            {% include "Admin/Enquiry/view_notes_modal.html" %}
                            
                           </td> {% endcomment %}
                           {% comment %} <td>{{i.lead_status}}</td> {% endcomment %}
                           
                           {% comment %} <td style="white-space: nowrap;">
                              {{ i.assign_to_employee.users.first_name }} {{ i.assign_to_employee.users.last_name }}
                              <br>
                              {% if i.lead_status != "Archive" %}
                                 <button type="button" class="btn btn-light d-flex align-items-center" data-toggle="modal" data-target="#assigntoemployee{{i.id}}" style="border:none; background-color:transparent;">
                           
                                    <div>
                                        <i class='bx bx-edit text-warning' style="font-size: 20px;"></i>
                                    </div>
                                    <div class="ml-2 text-warning" >
                                        Update
                                        
                                    </div>
                                </button>
                                {% endif %}
                                 {% include "Admin/Enquiry/assign_employee_modal.html" %}
                           </td>  {% endcomment %}
                           
                           <td>{{i.created_by}}</td>
                           <td>

                              {% if i.lead_status == "Active" %}
                              <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-success">Active</span>
                              {% elif i.lead_status == "Reject" %}
                              <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-danger">Rejected</span>
                              {% elif i.lead_status == "New Lead" %}
                              <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-success">New Lead</span>
                              {% elif i.lead_status == "New Lead" %}
                              <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-warning">New Lead</span>
                              {% elif i.lead_status == "PreEnrolled" %}
                              <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-primary">PreEnrolled</span>
                              {% elif i.lead_status == "Enrolled" %}
                              <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-secondary">Enrolled</span>
                              {% elif i.lead_status == "Inprocess" %}
                              <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-info">Inprocess</span>
                              {% elif i.lead_status == "Ready To Submit" %}
                              <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-dark">Ready To Submit</span>
                              {% elif i.lead_status == "Appointment" %}
                              <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-light">Appointment</span>
                              {% elif i.lead_status == "Ready To Collection" %}
                              <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-info ">Ready To Collection</span>
                              {% elif i.lead_status == "Result" %}
                              <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-info ">Result</span>
                              {% elif i.lead_status == "Delivery" %}
                              <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-success ">Delivery</span>
                              {% comment %} <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-primary">PreEnrolled</span> {% endcomment %}
                              {% elif i.lead_status == "Archive" %}
                              <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-danger">Case Initiated</span>
                              {% elif i.lead_status == "Case Initiated" %}
                              <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-danger">Case Initiated</span>

                              
                              
                              {% endif %}
                           </td>
                           
                           <td>
                              {% if i.lead_status == "New Lead" %}
                              {% comment %} <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-success"></span> {% endcomment %}
                              <form action="{% url "employee_accept_leads" %}" method="POST">
                                 {% csrf_token %}
                                 <input type="text" value="New Lead" name="accept" hidden>
                                 <input type="text" value="{{i.id}}" name="enq_id" hidden >
                              <span style="font-size: 15px; width:100%;" class="badge badge-pill badge-success"><button type="submit" class="btn btn-success">Accept</button></span>
                           </form>
                              
                              
                              {% else %}
                              <button type="button" class="btn btn-light d-flex align-items-center" data-toggle="modal" data-target="#lead_status_modal{{i.id}}" style="border:none; background-color:transparent;">
                           
                                 <div>
                                     <i class='bx bx-edit text-warning' style="font-size: 20px;"></i>
                                 </div>
                                 <div class="ml-2 text-warning" >
                                     Update
                                     
                                 </div>
                             </button>
                             {% endif %}
                             {% include "Employee/Leads/lead_status_modal.html" %}
                           </td>

                           
                        </tr>

                       <div class="modal fade" id="updatenotes{{i.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <form action="{% url "add_notes" %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% comment %} {% csrf_token %} {% endcomment %}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add Notes</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% comment %} <span class="sub-text d-flex">Date :
                                        <div class="ml-1" id="currentDateTime"></div>
                                    </span> {% endcomment %}

                                        <div class="col-12 col-md-8">
                                            <div class="form-group">
                                                <div class="control-label mb-10">
                                                    <span class="sub-text d-flex">Date :
                                                     <div class="ml-1" id="currentDateTime"></div>
                                                    </span>
                                                    <span class="sub-text d-flex">Note added by : Admin
                                                        
                                                    </span>
                                                </div>
                                            </div>
                
                                        </div>
                                       
                                 
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="control-label mb-10">
                                                    <textarea name="notes" rows="4" cols="20" id="ContentPlaceHolder1_txtNotes" class="form-control" placeholder="Add Notes" onkeypress="checkMaxLength(this, 120);" onpaste="handlePaste(this, 120)" oninput="updateCharacterCount(this,120);" maxlength="120"></textarea>
                                                    <span id="ContentPlaceHolder1_rfnotes" style="color:Red;display:none;">Enter Notes</span>
                                                    <p id="characterCount">Character Limit: 120</p>
                                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$hfEId" id="ContentPlaceHolder1_hfEId">
                                                    
                                                    <div class="custom-file-link text-left mt-3 mb-3">
                                                        <label class="uploadFile">
                                                            <em class="icon ni ni-clip mr-1 text-primary"></em>
                                                            <span class="filename">Attach File</span>
                                                            
                                                            <input type="file" name="file" id="ContentPlaceHolder1_fuNotesFile" class="inputfile form-control" onchange="displayFileName(this)">
                                                        </label>
                                                    </div>
                                                    <input type="text" value="{{i.id}}" name="enq_id" hidden>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                                <div class="modal-footer">
                                 <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                                 <button type="submit" class="btn btn-primary">Save</button>
                             </div>
                            </div>
                        </form>
                        </div>
                    </div>
                        
                        {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Row -->
</div>



<script>
   // Get the current date and time
   var currentDateTime = new Date();
   
   // Define months in an array for formatting
   var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
   
   // Format the date as "dd/Mon/yyyy"
   var day = String(currentDateTime.getDate()).padStart(2, '0');
   var month = months[currentDateTime.getMonth()];
   var year = currentDateTime.getFullYear();
   
   // Format the time as "hh:mm AM/PM"
   var hours = String(currentDateTime.getHours() % 12 || 12).padStart(2, '0'); // Convert to 12-hour format
   var minutes = String(currentDateTime.getMinutes()).padStart(2, '0');
   var ampm = currentDateTime.getHours() >= 12 ? 'PM' : 'AM';
   
   var formattedDateTime = day + '/' + month + '/' + year + ' ' + hours + ':' + minutes + ' ' + ampm;
   
   // Insert the formatted date and time into the unique <div> element
   var currentDateTimeElement = document.getElementById('currentDateTime{{i.id}}');
   if (currentDateTimeElement) {
       currentDateTimeElement.textContent = formattedDateTime;
   }
</script>

{% endblock main-content %}