{% load static %}

<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">
        {% comment %} <li class="navigation-header">
            <span>Main</span> 
            <i class="zmdi zmdi-more"></i>
        </li> {% endcomment %}
        <li>
            <a href="{% url "dashboard" %}"><div class="pull-left"><i class="zmdi zmdi-book mr-20"></i><span class="right-nav-text">Dashboard</span></div><div class="clearfix"></div></a>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#email_dr"><div class="pull-left"><i class="zmdi zmdi-accounts-add mr-20"></i><span class="right-nav-text">Employee <span style="margin-left:35px;">Management</span></span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="email_dr" class="collapse collapse-level-1">
                <li>
                    <a href="{% url 'add_admin' %}">Add Admin</a>
                </li>
                <li>
                    <a href="{% url 'view_admin' %}">View Admin</a>
                </li>
            </ul>
        </li>
    </ul>
</div>




