{% extends 'dashboard/base.html' %}
{% load static %}
{% block main-content %}

<div class="container-fluid">

	<!-- Title -->
	<div class="row heading-bg">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h5 class="txt-dark">Branch Management</h5>
		</div>
		<!-- Breadcrumb -->
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="{% url "travel_dashboards" %}">Dashboard</a></li>
				{% comment %} <li><a href="#"><span>table</span></a></li> {% endcomment %}
				<li class="active"><span>Branch</span></li>
			</ol>
		</div>
		<!-- /Breadcrumb -->
		
	</div>
	{% include 'dashboard/messages.html' %}

	<div class="row" style="float:right;margin-bottom:10px;">
		<div class="col-md-6">
			<a href="{% url 'addbranch' %}">
				<button class="btn btn-primary">Add New</button>
			</a>
		</div>
	
		<div class="col-md-6">
			
				<button class="btn btn-primary" data-toggle="modal" data-target="#importbranch">Import</button>
			
		</div>
		{% include "Admin/mastermodule/Branch/importbranch.html" %}
	</div>

	<!-- Row -->
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default card-view">
				<div class="panel-wrapper collapse in">
					<div class="panel-body">
						<div class="table-wrap">
							<div class="table-responsive">
								<table id="example" class="table table-hover display  pb-30">
									<thead>
										<tr>
											<th>S.No.</th>
											<th>Branch Id</th>
							<th>Branch Name</th>
							<th>Business Modal</th>
							<th>Status</th>
							<th>Last Updated By</th>
							<th>Last Updated On</th>
							<th>Action</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>S.No.</th>
											<th>Branch Id</th>
							<th>Branch Name</th>
							<th>Business Modal</th>
							<th>Status</th>
							<th>Last Updated By</th>
							<th>Last Updated On</th>
							<th>Action</th>
										</tr>
									</tfoot>
									<tbody>
										{% for i in branch %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{i.id}}</td>
							<td>{{i.branch_name}}</td>
							<td>{{i.branch_source}}</td>
							{% if i.status == 1 %}
							<td>Active</td>
							{% else %}
							<td>Inactive</td>
							{% endif %}
							<td>{{i.last_updated_by}}</td>
							<td>{{i.last_updated_on}}</td>
								<td>
									
									<div class="col-md-4"><a href="{% url "delete_branch" i.id %}"><i
										class='zmdi zmdi-delete'
										style="font-size: 20px; color:red;"></i></a></div>
								</div>
								</td>
							</tr>
						{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Row -->
</div>

{% endblock main-content %}