{% extends 'dashboard/base.html' %}
{% load static %}
{% block main-content %}


<div class="container-fluid">

	<!-- Title -->
	<div class="row heading-bg">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h5 class="txt-dark">Document</h5>
		</div>
		<!-- Breadcrumb -->
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="{% url "travel_dashboards" %}">Dashboard</a></li>
				{% comment %} <li><a href="#"><span>table</span></a></li> {% endcomment %}
				<li class="active"><span>Document</span></li>
			</ol>
		</div>
		<!-- /Breadcrumb -->
		
	</div>
	{% include 'dashboard/messages.html' %}

	<div class="form-body">

		<div class="form-row">
			<div class="form-group col-md-3">
				<div class="form-group">
					<input type="text" class="form-control datepicker" placeholder="From Date" />
				</div>
			</div>
			<div class="form-group col-md-3">
				<div class="form-group">
					<input type="text" class="form-control datepicker" placeholder="To Date" />
				</div>
			</div>
			<div class="form-group col-md-3">

				<button type="search" class="btn btn-primary px-5">Proceed</button>
			</div>
		</div>
		
	</div>
	
	<div class="ml-auto" style="float:right;margin-bottom:20px;">
		<a href="{% url 'add_document' %}"><button class="btn btn-primary">Add New</button></a>
	</div>
	<!-- /Title -->

	<!-- Row -->
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default card-view">
				<div class="panel-wrapper collapse in">
					<div class="panel-body">
						<div class="table-wrap">
							<div class="table-responsive">
								<table id="example" class="table table-hover display  pb-30">
									<thead>
										<tr>
											<th>S.No.</th>
											<th>Id</th>
							<th>Document Name</th>
							<th>Document Category</th>
							{% comment %} <th>Document Size</th> {% endcomment %}
							<th>Status</th>
							<th>Last Updated By</th>
							<th>Last Updated On</th>
							<th>Action</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>S.No.</th>
											<th>Id</th>
							<th>Document Name</th>
							<th>Document Category</th>
							{% comment %} <th>Document Size</th> {% endcomment %}
							<th>Status</th>
							<th>Last Updated By</th>
							<th>Last Updated On</th>
							<th>Action</th>
										</tr>
									</tfoot>
									<tbody>
										{% for document in documents %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{document.id}}</td>
								<td>{{ document.document_name }}</td>
								<td>{{ document.document_category }}</td>
								{% comment %} <td>{{ document.document_size }}</td> {% endcomment %}
								{% if document.status == True %}
								<td>Active</td>
								{% else %}
								<td>Inactive</td>
								{% endif %}
								<td>{{ document.lastupdated_by }}</td>
								<td>{{ document.last_updated_on }}</td>
								<td>
									<div class="row">
										<div class="col-md-4"><a href="{% url 'update_document' document.pk %}">
											<i
									class='zmdi zmdi-edit'
									style="font-size: 20px; color:blue;"></i>
										</a></div>
										<div class="col-md-4"><a href="{% url "delete_document" document.id %}"><i
											class='zmdi zmdi-delete'
											style="font-size: 20px; color:red;"></i></a></div>
									</div>
								</td>
							</tr>
						{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Row -->
</div>



{% endblock main-content %}